version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    open-pull-requests-limit: 10
    groups:
      minor-patch-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "monthly"
      time: "06:00"
      timezone: "America/New_York"
    target-branch: "master"
    labels:
      - "dependency"
      - "gradle"
    commit-message:
      prefix: "[CORE-69]"
    ignore:
      # CTM-272: Shedlock 7.x includes a transitive dependency on Spring Framework 7.x.
      # RBS uses Spring Boot 3.5.7 which does not support Spring Framework 7.x. When
      # RBS upgrades to Spring Boot 4.x, we can stop ignoring this dependency update
      - dependency-name: "net.javacrumbs.shedlock:*"
        versions: [ ">=7.0.0" ]
      - dependency-name: "org.liquibase:liquibase-core"
        versions: [ "5.x" ]