version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    open-pull-requests-limit: 10
    groups:
      minor-patch-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "monthly"
      time: "06:00"
      timezone: "America/New_York"
    target-branch: "master"
    labels:
      - "dependency"
      - "gradle"
    commit-message:
      prefix: "[CORE-69]"
    ignore:
      # Jackson 2.19.2 is only specified for the `buildScript` classpath.
      # As of this writing, Jib requires this specific version, and we want Dependabot
      # to leave it alone. All other instances of jackson-bom are already updated to 2.20.0
      - dependency-name: "com.fasterxml.jackson:jackson-bom"
        versions: [ ">=2.20.0" ]
