version: 2
updates:
  - package-ecosystem: "gradle"
    directory: "/"
    open-pull-requests-limit: 10
    groups:
      minor-patch-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    schedule:
      interval: "weekly"
      time: "06:00"
      timezone: "America/New_York"
    target-branch: "master"
    reviewers:
      - "@DataBiosphere/broad-core-services"
    labels:
      - "dependency"
      - "gradle"
    commit-message:
      prefix: "[CORE-69]"
