#This is a Skaffold configuration, which lets developers continuously push new images to their development namespaces.
apiVersion: skaffold/v2beta17
kind: Config
build:
  artifacts:
  - image: gcr.io/terra-kernel-k8s/terra-resource-buffer
    context: ../
    jib: {}
deploy:
  statusCheckDeadlineSeconds: 540
  kubectl:
    manifests:
    - terra-helmfile/output/manifests.yaml
    defaultNamespace: terra-ENV
